<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">
    <header th:replace="~{index :: header}"></header>
    <nav th:replace="~{index :: nav}"></nav>
    <br>
    <br>
    <main>
        <form method="POST" th:action="@{/merchandise/addProduct}" th:object="${product}">
            <input type="text" th:field="*{id}" hidden>
            <div class="wrap">
                <label>Name</label>
                <span th:errors="*{name}"></span>
                <input type="text" th:field="*{name}">
            </div>

            <div class="wrap">
                <label>Category</label>
                <span th:errors="*{category}"></span>
                <input type="text" th:field="*{category}">
            </div>

            <div class="wrap">
                <label>Description</label>
                <textarea th:field="*{description}"></textarea>
            </div>

            <div class="wrap">
                <label>Price</label>
                <span th:errors="*{price}"></span>
                <input type="number" th:field="*{price}">
            </div>

            <div class="wrap" th:if="${product.id}==null">
                <label>Discontinue</label>
                <input type="checkbox" th:field="*{discontinue}">
            </div>

            <div>
                <input type="submit" value="Save">
                <a th:href="@{/merchandise/index}">Cancel</a>
            </div>

        </form>

    </main>
</div>

</body>
</html>