<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" defer th:src="@{/js/merchandise.js}"></script>
</head>
<body>
<div class="container">

    <header th:replace="~{index :: header}"></header>
    <nav th:replace="~{index :: nav}"></nav>

    <main>

        <div class="title">
            <h3>Profile</h3>
        </div>

        <div class="content">
            <table>
                <a th:href="@{/merchandise/formAddProduct}" class="button add">Add New Product</a>
                <thead>
                <th></th>
                <th>Name</th>
                <th>Category</th>
                <th>Discontinue</th>
                </thead>
                <tbody>
                <tr th:each="product, i : ${products}">
                    <td>
                        <a class="btn-action" th:href="@{/merchandise/formEdit(id=${product.id})}">Edit</a>
                        <a class="btn-action" th:href="@{/merchandise/delete(id=${product.id})}">Delete</a>
                        <a class="btn-action info" href="javascript:;" th:id="btn-info- + ${i.index}">Info</a>
                        <a th:if="${product.getStatus()}=='Yes'" th:class="button-disable-merchandise"  th:href="@{/merchandise/discontinue(id = ${product.id})}">Discontinue</a>
                        <a th:if="${product.getStatus()}=='No'" th:class="btn-action"  th:href="@{/merchandise/discontinue(id = ${product.id})}">Discontinue</a>
                    </td>
                    <td th:text="${product?.name}"></td>
                    <td th:text="${product?.category}"></td>
                    <td th:text="${product?.getStatus()}"></td>

                    <div class="form-info" th:id="form-info- + ${i.index}">
                        <div class="wrap popup">
                            <div class="label">Product Name</div>
                            <div th:text="${product?.name}"></div>
                        </div>
                        <div class="wrap popup">
                            <div class="label">Category</div>
                            <div th:text="${product?.category}"></div>
                        </div>
                        <div class="wrap popup">
                            <div class="label">Description</div>
                            <div th:text="${product?.description}"></div>
                        </div>
                        <div class="wrap popup">
                            <div class="label">Price</div>
                            <div Rp.><span th:text="${product?.price}"></span></div>
                        </div>
                        <div class="wrap popup">
                            <div class="label">Discontinue</div>
                            <div th:text="${product?.getStatus()}">No</div>
                        </div>

                        <div class="btn">
                            <a th:href="@{/merchandise/index}">Close</a>
                        </div>
                    </div>
                </tr>
                </tbody>
            </table>

            <div class="pagination">
                <div th:text="|page ${currentPage} of ${totalPages}|"></div>
                <div>
                    <a th:each="loop:${#numbers.sequence(1,totalPages)}"
                       th:href="@{/merchandise/index(page=${loop})}"
                       th:text="${loop}"></a>
                </div>
            </div>

        </div>
    </main>
</div>

</body>
</html>