<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" defer th:src="@{/js/topup.js}"></script>
</head>
<body>


<div class="container">

    <header th:replace="~{index :: header}"></header>
    <nav th:replace="~{index :: nav}"></nav>
    <main>
        <div class="title">
            <h3>Profile</h3>
        </div>

        <div class="content">
            <div class="profile-wrap">
                <div class="profile">
                    <div class="wrap">
                        <div class="label">Name</div>
                        <div th:text="${user.getFullName()}"></div>
                    </div>
                    <div class="wrap">
                        <div class="label">Role</div>
                        <div th:text="${user.role}"></div>
                    </div>
                    <div class="wrap">
                        <div class="label">Address</div>
                        <div th:text="${user.address}"></div>
                    </div>
                    <div class="wrap">
                        <div class="label">Balance</div>
                        <div th:text="${user.getBalanceIDR}"></div>
                    </div>
                </div>

                <div sec:authorize="hasAuthority('Buyer')">
                    <a class="button btn-topup-tambah" href="javascript:;" >Tambah Dana</a>
                    <div class="modal">
                        <div class="modal-content">
                            <form th:action="@{/profile/topup}" method="POST" th:object="${topup}">
                                <div th:if="${hasErrors}==true" id="hasErrors"></div>
                                <span th:errors="*{balance}"></span>
                                <div>
                                    <label>Tambah Dana Sebesar</label>
                                </div>
                                <input type="number" id="topup-value" th:field="*{balance}">
                                <div class="button-form-popup">
                                    <button class="button" type="submit">Tambah</button>
                                    <a class="button btn-topup-batal" href="javascript:;" >Batal</a>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

            <div class="transaction">
                <h3>My Transaction History</h3>
                <table>
                    <thead>
                    <th>Date</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Shipment</th>
                    <th>Total Price</th>
                    </thead>
                    <tr th:each="tr : ${transactions}">
                        <td th:text="${tr.order.getDate()}"></td>
                        <td th:text="${tr.product.getName()}"></td>
                        <td th:text="${tr.quantity}"></td>
                        <td th:text="${tr.shipment.getName()}"></td>
                        <td th:text="${tr.priceFormat()}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </main>

</div>
</body>
</html>