<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" defer th:src="@{/js/shipment.js}"></script>
</head>
<body>
<div class="container">

    <header th:replace="~{index :: header}"></header>
    <nav th:replace="~{index :: nav}"></nav>

    <main>

        <div class="title">
            <h3>Shipment</h3>
        </div>

        <div class="content">
            <table>
                <a href="javascript:;" class="button add" th:onclick="fetchShipment(0)">Add New Shipment</a>
                <thead>
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th>Service</th>
                </thead>
                <tbody>
                <tr th:each="shipment: ${shipments}">
                    <td>
                        <a class="btn-action" href="javascript:;" th:onclick="fetchShipment([[${shipment.id}]])" id="edit-shipment">Edit</a>
                        <a class="btn-action" th:href="@{/shipment/delete(id=${shipment.id})}">Delete</a>
                        <a th:if="${shipment.getStatus()}=='Yes'" th:class="btn-action" th:href="@{/shipment/updateService(id = ${shipment.id},page = ${currentPage})}">Service</a>
                        <a th:if="${shipment.getStatus()}=='No'" th:class="button-disable-merchandise"   th:href="@{/shipment/discontinue(id = ${shipment.id})}">Service</a>
                    </td>
                    <td th:text="${shipment?.name}"></td>
                    <td th:text="${shipment?.price}"></td>
                    <td th:text="${shipment?.getStatus()}"></td>
                </tr>
                </tbody>
            </table>

            <div class="form-popup">
                <form th:action="@{/shipment/upsert}" method="POST" th:object="${upsertShipment}">
                    <div th:if="${hasErrors}==true" th:id="hasErrors"></div>
                    <input type="hidden" th:field="*{id}" id="input-id">
                    <div class="wrap">
                        <label>Name</label>
                        <span th:errors="*{name}"></span>
                        <input type="text" th:field="*{name}" id="input-name">
                    </div>
                    <div class="wrap">
                        <label>Price</label>
                        <span th:errors="*{price}"></span>
                        <input type="number" th:field="*{price}" id="input-price">
                    </div>
                    <div class="wrap" id="input-service">
                        <label>Service</label>
                        <input type="checkbox" th:field="*{service}" th:value="true">
                    </div>
                    <div class="button-form-popup">
                        <button class="button" type="submit">Tambah</button>
                        <a class="button btn-topup-batal" id="btn-popup-batal" th:href="@{/shipment/index(page=${currentPage})}" >Batal</a>
                    </div>
                </form>
            </div>

            <div class="pagination" th:if="${totalPages}>1">
                <div th:text="|page ${currentPage} of ${totalPages}|"></div>
                <div>
                    <a th:each="loop:${#numbers.sequence(1,totalPages)}"
                       th:href="@{/shipment/index(page=${loop})}"
                       th:text="${loop}"></a>
                </div>
            </div>
        </div>
    </main>
</div>

</body>
</html>