<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/normalize.css}" />
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
  <div class="container-flex-center">
      <div class="form-wrapper">
        <h1>LOG IN</h1>
        <form th:action="@{/authenticating}" method="post">
        <!-- Check for login error -->
        <div th:if="${param.error}" class="error" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION}==null ? '' : ${session.SPRING_SECURITY_LAST_EXCEPTION.message}">
        <!--          Invalid username and password-->
        </div>

        <!-- Check for logout -->
        <div th:if="${param.logout}">
          You have been logged out.
        </div>

        <div>
          <input type="text" name="username" placeholder="username" />
        </div>

        <div>
          <input type="password" name="password" placeholder="password" />
        </div>
        <div>
          <select name="role">
            <option th:each="option : ${role}" th:value="${option.stringValue}"
                    th:text="${option.text}"/>
          </select>
        </div>
        <div>
          <button class="button" type="submit">Login</button>
        </div>
        </form>
      </div>
      <div class="register-wrap">
        <a class="button" th:href="@{/account/registerForm(role='Buyer')}">Register as Buyer</a>
        <a class="button" th:href="@{/account/registerForm(role='Seller')}">Register as Seller</a>
      </div>
  </div>
</body>
</html>