<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container-flex-center">
        <div class="form-wrapper">
            <h1 th:text="'Sign Up ' + ${role}"></h1>
            <form method="post" th:action="@{/account/register}" th:object="${account}">
                <div class="wrap">
                    <label>Username</label>
                    <input type="text" th:field="*{username}" placeholder="Username" />
                </div>
                <div class="wrap">
                    <label>Password</label>
                    <input type="password" th:field="*{password}" placeholder="Password" />
                </div>
                <div class="wrap">
                    <label>Password Confirmation</label>
                    <input type="password" th:field="*{confirmPassword}" placeholder="Password Confirmation" />
                </div>
                <div class="wrap">
                    <input type="hidden" readonly th:field="*{role}">
                </div>
                <div class="wrap">
                    <label>First Name</label>
                    <input type="text" th:field="*{firstName}" placeholder="First Name" />
                </div>
                <div class="wrap">
                    <label>Last Name</label>
                    <input type="text" th:field="*{lastName}" placeholder="Last Name" />
                </div>
                <div class="wrap">
                    <label>Address</label>
                    <textarea type="text" th:field="*{address}" placeholder="Address"></textarea>
                </div>
                <div>
                    <button class="button" type="submit" th:text="'Sign Up As '+ ${role}"></button>
                </div>
            </form>
            <button class="btn btn-success">
                <a th:href="@{/account/loginForm}">Click here to login</a>
            </button>
        </div>
    </div>
</body>
</html>