<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" defer th:src="@{/js/shop.js}"></script>
</head>
<body>


<div class="container">

    <header th:replace="~{index :: header}"></header>
    <nav th:replace="~{index :: nav}"></nav>
    <main>
        <div class="title">
            <h3>Shop</h3>
        </div>

        <div class="content">
            <div class="main-wrap">
                <form method="post" action="#">
                    <div class="wrap">
                        <div class="label">
                            <label>Name</label>
                        </div>
                        <div>
                            <input type="text">
                        </div>
                    </div>

                    <div class="wrap">
                        <div class="label">
                            <label>Category</label>
                        </div>
                        <div>
                            <input type="text">
                        </div>
                    </div>

                    <div class="wrap">
                        <div class="label">
                            <label>Description</label>
                        </div>
                        <div>
                            <textarea></textarea>
                        </div>
                    </div>
                    <div class="search-btn">
                        <input type="submit" value="Search">
                    </div>
                </form>
            </div>

            <div class="form-addProduct">
                <form>
                    <div class="wrap popup">
                        <div class="label">
                            <label>Quantity</label>
                        </div>
                        <div>
                            <input type="number">
                        </div>
                    </div>

                    <div class="wrap popup">
                        <div class="label">
                            <label>Shipment</label>
                        </div>
                        <div>
                            <select>
                                <option value="null">Choose Shipment</option>
                                <option></option>
                            </select>
                        </div>
                    </div>

                    <div>
                        <input type="submit" value="Tambah ke Keranjang">
                        <a th:href="@{/page/shop}" class="button">Batal</a>
                    </div>
                </form>

            </div>

            <div class="popup-detail-product">
                <div class="wrap popup">
                    <div class="label">Name</div>
                    <div>Laptop Lenovo E420</div>
                </div>
                <div class="wrap popup">
                    <div class="label">Category</div>
                    <div>Laptop</div>
                </div>
                <div class="wrap popup">
                    <div class="label">Description</div>
                    <div>Laptop Lenovo E420</div>
                </div>
                <div class="wrap popup">
                    <div class="label">Price</div>
                    <div Rp.><span>9.000.000,00</span></div>
                </div>
                <div class="wrap popup">
                    <div class="label">Seller Name</div>
                    <div>Lenovo</div>
                </div>

                <div class="btn">
                    <a th:href="@{/page/shop}">Close</a>
                </div>
            </div>
            <div class="transaction">
                <table>
                    <thead>
                    <th class="col-action"></th>
                    <th>Name</th>
                    <th>Price</th>
                    </thead>
                    <tr>
                        <td>
                            <div class="action">
                                <div class="add-product btn-act">
                                    <a href="#" class="btn-action ">Add To Cart</a>
                                </div>

                                <div class="detail-product btn-act">
                                    <a href="#" class="btn-action">Detail Info</a>
                                </div>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </main>
</div>
</body>
</html>