<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" defer th:src="@{/js/shop.js}"></script>
</head>
<body>

<div class="container">

    <header th:replace="~{index :: header}"></header>
    <nav th:replace="~{index :: nav}"></nav>
    <main>
        <div class="title">
            <h3>Shop</h3>
        </div>

        <div class="content">
            <div class="main-wrap">
                <form method="post" th:action="@{/shop/index}">
                    <div class="wrap">
                        <div class="label">
                            <label>Name</label>
                        </div>
                        <div>
                            <input type="text" name="name">
                        </div>
                    </div>

                    <div class="wrap">
                        <div class="label">
                            <label>Category</label>
                        </div>
                        <div>
                            <input type="text" name="cat">
                        </div>
                    </div>

                    <div class="wrap">
                        <div class="label">
                            <label>Description</label>
                        </div>
                        <div>
                            <textarea name="desc"></textarea>
                        </div>
                    </div>
                    <div class="search-btn">
                        <input type="submit" value="Search">
                    </div>
                </form>
            </div>

            <div class="transaction">
                <table>
                    <thead>
                    <th class="col-action"></th>
                    <th>Name</th>
                    <th>Price</th>
                    </thead>
                    <tr th:each="product, i : ${products}">
                        <td>
                            <div class="action">
                                <div class="add-product btn-act">
                                    <a href="javascript:;" class="btn-action" th:onclick="addToCart([[${product.id}]])">Add To Cart</a>
                                </div>

                                <div class="detail-product btn-act">
                                    <a href="javascript:;" class="btn-action" th:onclick="fetchDetailInfo([[${product.id}]])">Detail Info</a>
                                </div>
                            </div>
                        </td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.getPriceIDR()}"></td>
                    </tr>
                </table>

                <div class="modal">
                    <div class="modal-content">
                        <div class="wrap popup">
                            <div class="label">Name</div>
                            <div id="product-name">Laptop Lenovo E420</div>
                        </div>
                        <div class="wrap popup">
                            <div class="label">Category</div>
                            <div id="product-category">Laptop</div>
                        </div>
                        <div class="wrap popup">
                            <div class="label">Description</div>
                            <div id="product-description">Laptop Lenovo E420</div>
                        </div>
                        <div class="wrap popup">
                            <div class="label">Price</div>
                            <div id="product-price">9.000.000,00</div>
                        </div>
                        <div class="wrap popup">
                            <div class="label">Seller Name</div>
                            <div id="product-seller">Lenovo</div>
                        </div>

                        <div class="btn">
                            <a th:href="@{/shop/index}">Close</a>
                        </div>
                    </div>
                </div>

                <div class="modal">
                    <div class="modal-content">
                        <form method="post" th:action="@{/shop/addToCart(page=${currentPage})}" th:object="${cart}">
                            <div th:if="${hasErrors}==true" id="hasErrors" th:text="${productID}" hidden></div>
                            <input type="hidden" id="productID" name="productID">
                            <div class="wrap">
                                <label>Quantity</label>
                                <span th:errors="*{quantity}"></span>
                                <input type="number" th:field="*{quantity}">
                            </div>

                            <div class="wrap">
                                <label>Shipment</label>
                                <span th:errors="*{shipmentID}"></span>
                                <!--                                        <div th:if="${#fields.hasErrors('shipmentID')}" th:errors="*{shipmentID}"></div>-->
                                <select th:field="*{shipmentID}">
                                    <option th:each="shipment : ${allShipment}" th:text="${shipment.name}" th:value="${shipment.id}"></option>
                                </select>
                            </div>

                            <div>
                                <input type="submit" value="Tambah ke Keranjang">
                                <a th:href="@{/shop/index}" class="button">Batal</a>
                            </div>
                        </form>
                    </div>
                </div>



                <div th:if="${totalPages} > 1">
                    <div class="pagination">
                        <div th:text="|page ${currentPage} of ${totalPages}|"></div>
                        <div>
                            <a th:each="loop:${#numbers.sequence(1,totalPages)}"
                               th:href="@{/shop/index(page=${loop})}"
                               th:text="${loop}"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>
</body>
</html>